{% extends 'base.html' %}

{% block content %}
    <h1>Mexican</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="https://m.media-amazon.com/images/I/817AjlinvrL._SS500_.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ T3R_Elemento.artist }}</h5>
            <p>These are my favorite songs</p>
            <ul>
                {% for item in T3R_Elemento.songs %}
                  <li>{{ item }}</li>  
                {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}