{% extends 'base.html' %}

{% block content %}
    <h1>Rap</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="https://images-na.ssl-images-amazon.com/images/I/71mCCZLw91L._SL1200_.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ trippie_redd.artist }}</h5>
            <p>These are my favorite songs</p>
            <ul>
                {% for item in trippie_redd.songs %}
                  <li>{{ item }}</li>  
                {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
      
{% endblock content %}